header {
    position: fixed;
    width: 100%;
    border-bottom: #2d3142 5px solid;
    z-index: 2; /* Makes the header stay in a "higher" layer, so items in <main> don't overlap with it */
}

nav {
    background-color: white;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;  
}

li {
    margin-right: 20px;
    font-size: 25px;
    padding: 5px;
}

#logo-nav {
    height: 50px;
    width: 50px;
    display: block;
}

#logo-li {
    background-color: #2d3142;
}

footer {
    background-color: #2d3142;
    border-top: #eae8ff 5px solid;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    margin-right: 15px;
}

@media only screen and (max-width: 885px) {
    #logo-nav {
        height: 40px;
        width: 40px;
    }

    li {
        padding: 0
    }
}

@media only screen and (max-width: 561px) {
    #logo-nav {
        height: 30px;
        width: 30px;
    }

    li {
        padding: 0;
        font-size: 20px;
        
    }
}