header {
    position: fixed;
    width: 100%;
    border-bottom: #2d3142 5px solid;
    z-index: 2; /* Makes the header stay in a "higher" layer, so items in <main> don't overlap with it */
}

nav {
    background-color: white;
}

ul {
    display: flex;
    align-items: stretch;
    list-style-type: none;  
}

.a-header {
    height: 100%;
    color: #2d3142;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 10px;
}

li {
    font-size: 25px;
}

#logo-nav {
    height: 50px;
    width: 50px;
    display: block;
}


.a-header:hover, #logo-nav:hover, #a-logo:hover {
    background-color: #2d3142;
    color: white;
}

#a-logo {
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    background-color: #2d3142;
    border-top: #eae8ff 5px solid;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-left {
    margin: 15px;
}

#footer-markel {
    margin: 0;
}

.footer-icon {
    width: 20px;
    height: 20px;
    margin-right:10px
}

#a-footer {
    color: white;
    margin-right: 15px;
    text-align: right;
}

.selected {
    background-color: #2d3142;
    color: white;
}

@media only screen and (max-width: 885px) {
    #logo-nav {
        height: 40px;
        width: 40px;
    }

    li {
        padding: 0
    }
}

@media only screen and (max-width: 561px) {
    #logo-nav {
        height: 30px;
        width: 30px;
    }

    li {
        padding: 0;
        font-size: 20px;  
    }
}