/* 
    COLOR PALETTE: Soft Lavender https://coolors.co/palette/eae8ff-d8d5db-adacb5-2d3142-b0d7ff
    #bod7ff: blue (#77bbff?)
    #d8d5db: dark blue
    #adacb5: light gray
    #2d3142: dark gray
    #eae8ff: lavender
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
}

body {
    background-color: #eae8ff;
}

#top-main {
    background-color: #2d3142;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-radius {
    background-color: #2d3142;
    border-bottom-right-radius: 100%;
    height: 200px;
}

#top-main-text {
    width: 60%;
}

#logo {
    right: 0;
}

h1 {
    color: #eae8ff;
    font-size: 100px;
}

h3 {
    color: #adacb5;
    font-size: 35px;
}

h2 {
    color: #adacb5;
    font-size: 60px;
}

#name {
    padding-left: 10%;
    color: #eae8ff;
    font-size: 100px;
    margin-top: -20px;
}

#name-braille {
    padding-left: 45%;
    padding-top: 30%;
}

#degree {
    padding-bottom: 5%;
    padding-left: 10%
}

.section {
    padding: 15px;
}

.section-braille {
    color: #eae8ff;
    opacity: 70%;
}

.section-title {
    color: #eae8ff;
}

#aboutme {
    background-color: #77bbff;
    margin: 40px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    text-align: center;
    padding: 50px;
}

#aboutme-title {
    text-align: center;
    margin-top: -30px;
    
}

#aboutme-braille {
    text-align: center;
    margin-left: 200px; 
}

p {
    margin: 10px;
    font-size: 20px;
}

#skills {
    background-color: #2d3142;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 20%;
    padding: 50px;
}

.skill-title {
    color: #eae8ff;
}

#skills-title {
    text-align: end;
    margin-top: -20px;
    margin-right: 5px;
}

#skills-braille {
    text-align: end;
    margin-right: 40px;
}

.skills-section {
    display: flex;
    align-items: center;
}

#golang-logo {
    width: 350px    
}

#golang-info {
    margin-right: 300px;
}

#java-info {
    text-align: end;
    margin-left: 300px;
}

#java-logo {
    width: 200px;
    margin-right: 200px;
}

#db-logo {
    width: 175px;
    margin: 70px;
    margin-left: 90px;
}

#db-info {
    margin-right: 300px;
}

#python-info {
    text-align: end;
    margin-left: 300px;
}

#python-logo {
    width: 175px;
    margin: 20px;
    margin-right: 220px;
}

#skills-python {
    margin-bottom: 50px;
}

#c-logo {
    width: 120px;
    margin-left: 55px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 70px;
}

#cpp-logo {
    width: 120px;
    margin-top: 120px;
    margin-right: 30px;
}

#ccpp-info {
    margin-right: 300px;
}

#participation {
    background-color: #2d3142;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 20%;
    margin-top: 40px;
    padding: 50px;
}

#participation-braille {
    margin-left: 55px;
}

#participation-title {
    margin-top: -20px;
    margin-bottom: 40px;
}

.participation-section {
    margin: 40px;
    display: flex;
    align-items: center;
}

#decode-logo {
    width: 175px;
    margin-right: 30px;
    margin-left: 50px;
}

#decode-info {
    margin-right: 500px;
}

#ctf-info {
    text-align: end;
    margin-left: 200px;
}

#ctf-logo {
    margin-left: 30px;
    width: 500px;
    margin-right: 200px;
}

#hackathon-logo {
    width: 600px;
    margin-right: 30px;
    margin-left: 50px;
}

#hackathon-section {
    margin-bottom: 0;
}