* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
}

body {
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    height: 100%;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: #eae8ff;
}

h2 {
    color: white;
    font-size: 72px;
}

h3 {
    color: #eae8ff;
    opacity: 70%;
    font-size: 35px;
}

h4 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #eae8ff;
}

p {
    color: white;
}

td {
    width: 40%;
}

a {
    text-decoration: none;
}

#projects-title {
    background-color: #2d3142;
    margin: 0 auto;
    padding-top: 70px;
}

.project-header {
    text-align: center;
    margin: auto auto;
    margin-right: 20px;
}

#title-braille {
    text-align: center;
    margin-left: 350px;
}

#title {
    margin-top: -30px;
}

#top-radius {
    height: 60px;
    border-bottom-right-radius: 100%;
    background-color: #2d3142;
}

.more-button {
    background-color: white;
    color: #2d3142;
    box-shadow: 10px 10px 0px 0px #77bbff; /* TODO: fade in effect */  
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    width: 120px;
    text-align: center;
    font-size: 25px;
}

.more-button:hover {
    color: white;
    box-shadow: 10px 10px 0px 0px white;
    background-color: #77bbff;
}

#projects-section {
    background-color: #2d3142cb;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
}

table {
    margin: 0 auto;
}

.project {
    display: flex;
    margin: 40px;
    justify-content: center;
}

#gnu-linux-title {
    font-size: 40px;
}

#rvik-header {
    margin-left: 45px;
    margin-right: 65px;
}

#current-work {
    background-color: #77bbff;
    margin: 0 auto;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
}

#current-work-title {
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: -10px;
    margin-bottom: 10px;
    opacity: 100%;
}

#current-work-braille {
    text-align: center;
    margin-left: 160px;
    font-size: 20px;
    opacity: 100%;
}

.black-p {
    color: black;
    font-size: 20px;
}

#more-button-current {
    background-color: #2d3142;
    color: white;
    box-shadow: 10px 10px 0px 0px #eae8ff; /* TODO: fade in effect */  
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 120px;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 10px;
}

#more-button-current:hover {
    background-color: #eae8ff;
    color: #2d3142;
    box-shadow: 10px 10px 0px 0px #2d3142; /* TODO: fade in effect */  
}

@media only screen and (max-width: 1566px) {
    .project {
        display: block;
    }

    .project-header {
        margin-bottom: 20px;
    }

    p {
        text-align: center;
    }
}

@media only screen and (max-width: 1191px) {
    h2 {
        font-size: 35px;
    }

    #gnu-linux-title {
        font-size: 20px;
    }

    .more-button {
        font-size: 15px;
        width: 80px;
    }

    p {
        font-size: 14px;
    }

    .project {
        margin: 20px;
    }
}

@media only screen and (max-width: 727px) {
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    #title-braille {
        margin-left: 190px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 70px;
    }

    h4 {
        font-size: 15px;
        margin-top: 5px;
    }

    #gnu-linux-title {
        font-size: 15px;
    }

    .more-button {
        font-size: 10px;
        width: 60px;
        padding: 3px;
    }

    p {
        font-size: 14px;
    }

    .project {
        margin: 10px;
    }

    #projects-section {
        width: 80%;
    }
    
    #current-work-braille {
        margin-left: 0;
    }
}